@import 'modern-normalize';


:root {
    --primary-white: #fff;
    --primary-text-color: #2C2C2C;
    --secondary-text-color: rgb(80, 79, 79);
    --hover-bg-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: linear-gradient(to bottom, #ffe4e6, #ccfbf1);
    padding: 0px 20px 40px 20px;
    height: 100vh;
    color: var(--primary-text-color);
}

.menu-container {
    position: relative;
    display: flex;
    height: 60px;
    width: calc(100% + 40px); 
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: -20px; 
    margin-right: -20px; 

    margin-bottom: 20px;
    background-color: var(--primary-white);
}

.menu-container > h1 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.menu-toggle-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    padding: 8px;
    border-radius: 4px;
}


.menu-toggle-btn:hover {
    opacity: 0.8;
    background-color: var(--hover-bg-color);
}

.menu {
    left: -300px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    transform: translateX(-100%); 
    opacity: 0;
    position: absolute;
    padding: 20px;
    height: calc(100vh - 60px);
    border-right: 1px solid rgb(231, 231, 231);
}



.menu.open {
    transform: translateX(0); 
    opacity: 1;

    top: 100%;
    left: 0;
    background-color: var(--primary-white);
    width: min(50%, 280px);
}

.menu.closing {
    transform: translateX(-100%); /* Slide out to the left */
    opacity: 0; /* Fade out */
}


.tasks-display {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--primary-white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow-y: auto;
    max-height: 85vh;
}

.task-tabs {
    display: flex;
    flex-direction: column;
    align-items: center ;    
    gap: 10px;
    height: 100%;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 20px;
}

.task-tabs > div {
    display: flex;
    width: 100%;
    align-items: center; /* Align icons and text within each tab */
    gap: 15px;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

    font-weight: 600;
    font-size: 0.9rem;
    
}


.task-tabs > div:hover {
    background-color: var(--hover-bg-color);
}


.project-tabs {
    margin: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container > h1 {
    font-size: 1.1rem;
}

.header-container > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}


.header-container > button:hover {
    background-color: var(--hover-bg-color);
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: black;
    color: rgb(233, 232, 232);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

.header-content > button:hover {
    background-color: rgb(0, 0, 0, 0.8);
    cursor: pointer;
}


.projects-section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.project-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.project-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 10px clamp(0px, 1vw, 10px);
    min-width: 70%;
    flex: 1;
}

.project-info:hover, .project-actions > button:hover {
    background-color: var(--hover-bg-color);
    border-radius: 8px;
    cursor: pointer;

}

.project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-actions > button {
    border: none;
    background-color: transparent;
    padding: 8px;
}


.project-name {
    font-size: 1rem;
    font-weight: 500;
}


.add-task-svg {
    color: white;
}

.header-text-container > p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.tab-header-text {
    font-size: 1.5rem;
}   

.incomplete-tasks-container > h1, .completed-tasks-container > h1 {
    font-size: 1.2rem;
    margin: 20px 0px;
}

.task-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
}

.task-title-container, .task-right-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.task-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.task-desc, .task-due-date {
    color: var(--secondary-text-color);
    font-size: clamp(0.8rem, 2vw, 0.9rem);

}

.task-action > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 8px;

    transition: 0.2s;

}

.task-action > button:hover {
    cursor: pointer;
    background-color: var(--hover-bg-color);
}

.task-title-container > input {
    --size: clamp(25px, 2vw, 30px);
    width: var(--size);
    height: var(--size);
}


.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: clamp(0.5rem, 2vw, 0.8rem);
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    gap: 10px;
}

.github-icon {
    color: black;
}

